[submodule "mtcnn-java"]
	path = mtcnn-java
	url = https://github.com/dariuszlee/mtcnn-java
[submodule "Face-Liveness-Detection"]
	path = Face-Liveness-Detection
	url = https://github.com/anand498/Face-Liveness-Detection
